# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore gradle specific file from the gradle init command
*gradle*

# Ignore Eclipse specific files
*eclipse*
.project
.classpath

# Build artifacts
*.class

# Ignore Intellij crap
.idea
*.iml

# Ignore .html files
*.html
